<div class="text-center mt-4">
  <main>
    <form
      class="form-signin border rounded"
      action="javascript:void(0);"
      method="POST"
      (submit)="login($event)"
    >
      <img class="mb-4" src="assets/cart.png" alt="" width="72" height="72" />
      <h1 class="h3 mb-3 fw-normal">Login To Your E-Shop Account</h1>
      <hr />
      <p *ngIf="error" class="alert alert-danger">{{ error }}</p>
      <p *ngIf="success" class="alert alert-success">{{ success }}</p>
      <div class="form-floating">
        <input
          type="email"
          name="email"
          class="form-control"
          id="inputEmail"
          placeholder="E-mail address"
          [value]="credentials.email"
          required
          autofocus
        />
        <label for="inputEmail"></label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          name="password"
          class="form-control"
          id="inputPassword"
          placeholder="Password"
          [value]="credentials.password"
          required
          autofocus
        />
        <label for="inputPassword"></label>
      </div>
      <button class="w-100 btn btn-lg border rounded btn-primary">Login</button>
      <p class="mt-5 mb-3 text-muted"></p>
    </form>
  </main>
</div>
